/* Styles for Tasks Assigned Section */
.tasks-section {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 1000px;  /* Increased width */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.tasks-section h3 {
    color: #f0ad4e;
    margin-bottom: 15px;
    font-size: 1.8em;
    text-align: center;
}

.tasks-section ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.tasks-section ul li {
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    color: #ddd;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.tasks-section ul li:hover {
    transform: scale(1.03);
}

/* Progress Bar Styles */
.progress-bar-container {
    position: relative;
    background-color: #555;
    height: 12px;
    width: 100%;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.progress-bar {
    background: linear-gradient(90deg, #d9534f, #f0ad4e);
    height: 100%;
    border-radius: 6px;
}

.progress-text {
    display: block;
    font-size: 13px;
    color: #bbb;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .tasks-section {
        padding: 15px;
    }

    .tasks-section ul li {
        font-size: 14px;
        padding: 12px;
    }

    .progress-text {
        font-size: 11px;
    }

    .tasks-section h3 {
        font-size: 1.5em;
    }
}



/* Styles for Tasks Completed Section */
.completed-section {
    background-color: #2e2e2e; /* Slightly different background to distinguish from tasks section */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 1000px;  /* Increased width */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.completed-section h3 {
    color: #5cb85c; /* Different color to indicate completion */
    margin-bottom: 15px;
    font-size: 1.8em;
    text-align: center;
}

.completed-section ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.completed-section ul li {
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    color: #ddd;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.completed-section ul li:hover {
    transform: scale(1.03);
}

/* Checkmark Icon Style */
.completed-icon {
    color: #5cb85c; /* Green color to indicate task is completed */
    margin-right: 8px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .completed-section {
        padding: 15px;
    }

    .completed-section ul li {
        font-size: 14px;
        padding: 12px;
    }

    .completed-section h3 {
        font-size: 1.5em;
    }
}
